// .root {
//   background-color: blue;
//   background: no-repeat center center cover;
//   background-size: cover;
//   background-repeat: repeat-x;
// }

// .button {
//   padding: 15px;
//   position: relative;
//   font-weight: normal;
//   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-size: 15px;
//   text-align: center;
//   left: 47%;
//   color: #333;
// }

// .popup {
//   padding: 15px;
//   position: center;
//   font-weight: normal;
//   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-size: 15px;
//   text-align: center;
//   color: #333;
// }

// .popup_small {
//   position: relative;
//   font-weight: lighter;
//   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-size: 15px;
//   text-align: center;
//   color: #333;
// }

// .padding {
//   padding: 15px;
// }

// .component-header {
//   padding: 30px;
//   position: relative;
//   font-weight: bolder;
//   font-family: "Courier New", Courier, monospace;
//   font-size: 32px;
//   text-align: center;
//   color: #333;
//   background-color: rgb(73%, 70%, 38%);
// }

// .component-header img {
//   position: relative;
//   top: 6px;
//   padding: 0 14px;
// }

.padding-center {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  max-width: 100%;
  height: auto;
  width: auto\9;
  top: 0;
  padding: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  position: absolute;
  top: 60vh;
}

.button {
  position: absolute;
  top: 35vh;
  //bottom: 35vh;
  //padding: 20px;
}

.imageBackground {
  background: url(images/colorBackground.svg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.toFront {
  position: relative;
  z-index: 1;
}
